<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3 class="">Pokemon {{contador}}</h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <button (click) = "decrementar()" class="btn btn-outline-danger"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
            {{" "}}
            <button (click) = "incrementar()" class="btn btn-outline-primary"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
        </div>
    </div>

    <div>
        <app-pokemon></app-pokemon>
    </div>
</div>
<!-- <hr>

<div class="row text-center">
    <div class="col">
        <app-hijo [contador] = contador (cambioContador) = "contador = $event"></app-hijo>
    </div>
</div> -->